.label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.parent {
  background-color: rgba(0, 0, 0, 0.097);
  width: 50%;
  height: 50%;
  margin-top: 100px;
  margin-left: 350px;
  position: absolute;
  display: grid;
  place-items: center;
  border: 3px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}

.btn {
  margin: 0 auto;
  width: 40%;
  max-width: 40rem;
}
